{% extends "blog/layout.html" %}
{% block notif %}
<div class="notif">
    {% if message %}
    <div class="alert alert-success" role="alert">
      <center>{{ message }}</strong>.</center>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block body %}
<style type="text/css">
    .wrapper {
        height: 100vh;
        overflow: hidden;
    }
</style>

<div class="container">
  <h1>Create Account</h1>

  <form class="form1" action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="User ID">
    <input type="email" name="email" placeholder="Email Address">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="confirmation" placeholder="Confirm Password">
    
    <br>
    <button type="submit" id="login-button">Create</button>
  </form>
</div>
{% endblock %}