.logo {
	margin-top: 50px;
	background-color: #393e46;
	padding-left: 30px;
}

.content {
	margin: 10px;
}

body { 
  background: url(https://images2.alphacoders.com/238/thumb-1920-238870.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form1 {
	font-family: 'poppins', sans-serif;
	color: white;
	font-weight: 300;
}
.form1 ::-webkit-input-placeholder {
	/* WebKit browsers */
	font-family: 'poppins', sans-serif;
	color: white;
	font-weight: 300;
}
.form1 :-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	font-family: 'poppins', sans-serif;
	color: white;
	opacity: 1;
	font-weight: 300;
}
.form1 ::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	font-family: 'poppins', sans-serif;
	color: white;
	opacity: 1;
	font-weight: 300;
}
.form1 :-ms-input-placeholder {
	/* Internet Explorer 10+ */
	font-family: 'poppins', sans-serif;
	color: white;
	font-weight: 300;
}
.wrapper {
	position: absolute;
	width: 100vw;
	height: 100%;
	overflow: scroll;
}
.wrapper.form-success .container h1 {
	-webkit-transform: translateY(85px);
	transform: translateY(85px);
}
.container {
	width: 60vw;
	margin: 0 auto;
	height: 40vh;
	text-align: center;
}
.container h1 {
	color: white;
	font-family: 'poppins', sans-serif;
	font-size: min(7vw, 45px);
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-timing-function: ease-in-put;
	transition-timing-function: ease-in-put;
	font-weight: 300;
}
.form1 {
	padding: 10px 0;
	position: relative;
	z-index: 2;
}
.form1 input {
	font-family: poppins;
	color: grey;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-color: rgba(255, 255, 255, 0.2);
	width: 350px;
	border-radius: 3px;
	padding: 10px 15px;
	margin: 0 auto 10px auto;
	display: block;
	text-align: center;
	font-size: min(6vw, 25px);
	color: white;
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
	font-weight: 300;
}
.form1 input:hover {
	background-color: rgba(255, 255, 255, 0.4);
}
.form1 input:focus {
	background-color: white;
	width: 300px;
	color: grey;
}
.form1 button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	background-color: white;
	border: 0;
	padding: 10px 15px;
	color: grey;
	border-radius: 3px;
	width: 250px;
	cursor: pointer;
	font-size: min(6vw, 25px);
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
}
.form1 button:hover {
	background-color: #f5f7f9;
}